/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f9fc; /* Light grey background */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff; /* White navbar */
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li {
  list-style: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 20px;
   

}

head {
 background-color: white;
}
body {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
color: #1D438A;
background-color: #00BFB2;
position: absolute;
 
}
footer{

}
.foot {
    display: flex;
 background-color: white;
}
